[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
jinja2 = "*"
python-dotenv = "*"
sqlalchemy = "*"
pymysql = "*"
cryptography = "*"
pytz = "*"
python-multipart = "*"
werkzeug = "*"
scipy = "*"
pandas = "*"
opencv-contrib-python-headless = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
